/* Laptop L */
@media (max-width: 1440px) {
}

/* Before Laptop */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
  .contentRightSize {
    width: 100%;
  }
  .facebookPhotoProfile {
    display: none;
  }
  .contentAreaTextPresentation {
    padding: 0px;
  }
}

/* Tablette */
@media (max-width: 766px) {
  .contentRightSize {
    margin: 0;
  }
}

/* Mobile L */
@media (max-width: 425px) {
}

/* Mobile M */
@media (max-width: 375px) {
}

/* Mobile S */
@media (max-width: 320px) {
}
