* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
.skills-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-main nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  background: white !important;
}

.skills-main nav a {
  color: #3399ff;
  text-decoration: none;
  font-size: 20px;
  padding: 30px 10px;
  transition: 0.5s;
  opacity: 0.5;
}

.skills-main nav a:hover {
  transition: 0.5s;
  opacity: 1;
}
.skills-main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-main .content table {
  width: 80vw;
}

.skills-main .content .table .fas {
  color: #00b300;
  padding-left: 20px;
}
.skillsListSection .card .fas {
  color: #00b300;
  padding-right: 20px;
}

.skills-main .content .table .fa-check-circle {
  color: #00b300;
  padding-right: 0px;
}

.skills-main .content .table .fa-arrow-alt-circle-right {
  font-size: 20px;
}

.skills-main .content .far {
  color: grey;
  padding-left: 20px;
}
.skillsListSection .card .far {
  padding: 0 20px 0 0;
}

.skills-main .content .table tr td {
  padding-left: 0;
}

.skills-main .content .table tr a {
  text-decoration: none;
  color: #3399ff;
}

.btn-primary {
  background: #3399ff;
  padding: 5px 20px;
}

.skills-main .content .table .scale:hover {
  transform: scale(1.1);
}

.skillsListSection {
  flex-direction: column;
  margin: 5vh 0;
  width: 80vw;
}
.skillsListSection .card .card-header {
  padding: 0px;
}
.skillsListSection button:hover {
  text-decoration: none;
}

.btn-warning,
.btn-warning:hover {
  color: white;
}
