.contactSection {
  height: 100%;
  width: 100%;
}

.contactContent {
  height: 92%;
  width: 100%;
}

.contact__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.contact__container h1 {
  font-size: 5vh;
}

.contact__container span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 0.25vh;
  background: #66b3ff;
}

.contact__container span span {
  width: 0.65vw;
  height: 1.3vh;
  background: #66b3ff;
  border-radius: 50%;
}

.contact__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  flex-wrap: wrap;
}

.contact__info a {
  color: black;
}
.contact__text {
  cursor: pointer;
}

.contact__text {
  text-decoration: none !important;
  text-align: center;
  font-size: 2.5vh;
  transition: 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact__text:hover {
  transition: 0.4s;
  color: #66b3ff;
}
