.section__container--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.area__copyright {
  text-align: center;
  margin-bottom: 2vh;
}

.area__network {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100%;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 100%;
}

.contact__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.contact__container h1 {
  font-size: 5vh;
}

.contact__container span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 0.25vh;
  background: #66b3ff;
}

.contact__container span span {
  width: 0.65vw;
  height: 1.3vh;
  background: #66b3ff;
  border-radius: 50%;
}

.contact__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  flex-wrap: wrap;
}
.contact__text:not(.contact__text--lieu) {
  cursor: pointer;
}

.contact__text {
  text-decoration: none;
  text-align: center;
  font-size: 2.5vh;
  font-weight: bold;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact__text:hover:not(.contact__text--lieu) {
  transition: 0.4s;
  color: #66b3ff;
}
