.section__container--header {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.section__container {
  scroll-snap-align: start;
  height: 100vh;
}

.header__container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: float 5s ease-in-out infinite;
}

.section__text--animated {
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.header__text--f_title {
  font-weight: bold;
  font-size: 8vh;
  animation-delay: 1s;
}

.header__text--s_title {
  font-weight: normal;
  font-size: 2vh;
  animation-delay: 1.25s;
}

.arrow__container {
  padding-bottom: 1vh;
  height: 8%;
  display: flex;
  align-items: flex-end;
}

.arrow_img {
  animation: float_arrow 1s ease-in-out infinite;
  height: 4vh;
}
