.section__container--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.logo__img {
  height: 10vh;
  filter: grayscale(100%);
  transition: 0.5s;
}

.logo__img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

#toggle {
  height: auto;
  background: #eee;
  border: 1px solid #900;
  margin: 1em;
  text-align: center;
}
#toggle p {
  text-align: center;
  padding: 0;
}
