.testLeftPosition {
  padding-right: 300px;
  justify-content: flex-end !important;
}

.navbar {
  background: #262626 !important;
  font-family: "Roboto", sans-serif;
}
.nav-link {
  transition: 0.5s;
}

.nav-item {
  padding: 10px 10px 0px 10px;
}

.nav-link:hover {
  transition: 0.5s;
  color: #d42b2b !important;
}
