/* Laptop L */
@media (max-width: 1440px) {
  .content-mbp16 {
    margin-top: 10%;
    height: 58%;
  }
  .fa-angle-double-down {
    top: 100px;
  }
  .resumeMeText {
    font-size: 30px;
  }
  .about__rightSize {
    padding-top: 70px;
  }
  .workContent {
    padding-top: 70px;
  }
}

/* Before Laptop */
@media (max-width: 1439px) {
  .main {
    background-image: url(../img/ipad.png);
    background-size: 77vh;
  }
  .content-mbp16 {
    margin-top: 3%;
    height: 94.4%;
    width: 671px;
    border-radius: 5px;
  }
  .navbar {
    width: 664px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .about__rightSize {
    width: 65%;
    padding: 30px 20px 30px 100px;
  }
}

@media (max-width: 990px) {
  .veille--content {
    width: 100%;
  }
}

/* Tablette */
@media (max-width: 766px) {
  .main {
    background: none;
  }
  .content-mbp16 {
    margin-left: 0px;
    margin-top: 0%;
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .navbar {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .nameText {
    font-size: 80px;
  }
  .about__leftSize {
    display: none !important;
  }
  .about__rightSize {
    width: 100%;
    padding: 10px;
  }
  .row {
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .workContent .row .col-4 {
    max-width: 400px !important;
  }
  .workContent {
    padding: 100px 0px 0px 0px;
  }

  #list-tab {
    width: 100%;
  }

  #nav-tabContent {
    padding: 50px 5px 5px 5px;
  }
}

/* Mobile L */
@media (max-width: 425px) {
}

/* Mobile M */
@media (max-width: 375px) {
}

/* Mobile S */
@media (max-width: 320px) {
}
